
<h3>Job application form</h3>
<p>Fill out the form below to magically become a part of the best company ever, right now!</p>

<form>
  <input type="text" class="txt" name="newname" placeholder="Your full name" [(ngModel)]="employeeName">
  <input type="text" class="txt" name="newaddress" placeholder="Your address" [(ngModel)]="employeeAddress">
  <input type="text" class="txt" name="newphone" placeholder="Your phone number" [(ngModel)]="employeePhone">
  <input type="text" class="txt" name="newdescription" placeholder="What you'd like to work with" [(ngModel)]="employeeDescription">
  <input type="submit" class="btn" value="You're hired!" (click)="addEmployee()">
</form>


<h3>Or contact one of our wonderful employees:</h3>
<!-- Make horisontal? -->
<table *ngFor="let employee of employeeArray">
  <tr>
    <td><img src="{{ employee.image }}" alt="{{ employee.name }}Image" width="150" height="100"></td>
  </tr>
  <tr>
    <td>{{ employee.name }}</td>
  </tr>
  <tr>
    <td>{{ employee.address }}</td>
  </tr>
  <tr>
    <td>{{ employee.phone }}</td>
  </tr>
</table>
