<table>
  <tr>
    <td><img src="https://media.istockphoto.com/photos/wireframe-buildings-picture-id507336407" alt="ArchitectureStock" width="400" height="250"></td>
    <td>
      <h3>The best company there is</h3>
      <p>
        This company strives to deliver the best buildings to you 24/7.
        Our buildings are cutting edge between environment, economy and your own well being.
      </p>
    </td>
  </tr>
</table>

<h2>Learn more about our fantastic team:</h2>
<table *ngFor="let employee of employeeArray">
  <tr>
    <td><img src="{{ employee.image }}" alt="{{ employee.name }}Image" width="150" height="100"></td>
  </tr>
  <tr>
    <td>{{ employee.name }}</td>
  </tr>
  <tr>
    <td>{{ employee.description }}</td>
  </tr>
</table>
